<!DOCTYPE html>
<html>
    <head>
        <title>League Esports Hub</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='styles/style.css') }}">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    </head>

    <body>
        <div class="navigation-wrapper">
            <nav>
                <ul>
                    <li><a href="index.html">LOGO</a></li>
                    <div class="navigation">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="teams.html">Teams</a></li>
                        <li><a href="sign_up.html">Sign Up</a></li>
                        <li><a href="log_in.html">Log in</a></li>
                    </div>
                </ul>
            </nav>
        </div>

        <!-- A table that holds the matches -->
        <div class="table-wrapper">
            <table class="lcs">
                <thead>
                    <th><h1>LCS</h1></th>
                </thead>
                <tbody id="lcs">
                </tbody>
            </table>
            <table class="lec">
                <thead>
                    <th><h1>LEC</h1></th>
                </thead>
                <tbody id="lec">
                </tbody>
            </table>
            <table class="lck">
                <thead>
                    <th><h1>LCK</h1></th>
                </thead>
                <tbody id="lck">
                </tbody>
            </table>
            <script>
                // Append Data Function
                // Adds data from a given json file to a table with id=tag
                function append_data(data) {
                    var match;
                    var tag;

                    $.each(data, function (key, value) {
                        match = '';
                        tag = '#' + value.region;
                        match += '<tr><td>'
                        match += '<h2>' + value.team1 + ' vs. ' + value.team2 + '</h2>';
                        match += '<ul>'
                        match += '<li><a href="' + value.watch_link + '">Watch Replay</li>';
                        match += '<li><a href="' + value.result_link + '">Match Results</li>';
                    
                        $(tag).append(match);
                    });
                }

                // When the document loads
                $(document).ready(function () {
                    // Get the data from the json file and load the data to the page
                    $.getJSON("test.json", function (data) {
                        // var tags = ['#lcs', '#lec', '#lck'];
                        // tags.forEach(tag => append_data(tag, data));
                        append_data(data);
                    });
                });
            </script>
        </div>
    </body>
</html>