/*
COLORS:
Ash Grey:   #B4B8AB
Gunmetal:   #153243
Indigo Dye: #284B63
Ivory:      #F4F9E9
Baby Power: #EEF0EB
*/

/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #284B63;
    margin: 0;
    padding: 0;
}

.menu-wrapper {
    margin: 0 auto;
    width: 1000px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #153243;
}

nav ul {
    margin: 0;
}

.navigation {
    position: absolute;
    right: 0px;
    display: inline;
}

.navigation-wrapper li {
    line-height: 60px;
}

.navigation-wrapper li a {
    display: block;
    font-size: 18px;
    font-family: arial;
    padding: 0 16px;
}

.table-wrapper {
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

li a {
    text-decoration: none;
    color: #ffffff;
}

ul li a:hover {
    color: #B4B8AB;
}

table {
    display: inline;
    table-layout: fixed;
    font-family: arial;
    border-collapse: collapse;
}

th {
    height: 100px;
}

td {
    text-align: center;
    height: 80px;
}

th, td {
    background-color: #222222;
    border: 1px solid #FFFFFF;
    color: #EEF0EB;
}

table th h1 {
    font-size: 50px;
}


